<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TONY ORLANDO &amp; DAWN</string>
	<string>KRIS KRISTOFFERSON</string>
	<string>JIM CROCE</string>
	<string>ROBERTA FLACK</string>
	<string>MARVIN GAYE</string>
	<string>PAUL Mc CARTNEY &amp; WINGS</string>
	<string>ELTON JOHN</string>
	<string>BILLY PRESTON</string>
	<string>CARLY SIMON</string>
	<string>DIANA ROSS</string>
	<string>BILLY PAUL</string>
	<string>VICKI LAWRENCE</string>
	<string>CHER</string>
	<string>CLINT HOLMES</string>
	<string>STORIES</string>
	<string>HELEN REDDY</string>
	<string>EDDIE KENDRICKS</string>
	<string>ISLEY BROTHERS</string>
	<string>EDGAR WINTER GROUP</string>
	<string>DOBIE GRAY</string>
	<string>GLADYS KNIGHT &amp; THE PIPS</string>
	<string>THE SWEET</string>
	<string>STEVIE WONDER</string>
	<string>SYLVIA</string>
	<string>GRAND FUNK</string>
	<string>DR JOHN</string>
	<string>JOHNNY RIVERS</string>
	<string>DONNA FARGO</string>
	<string>STEVIE WONDER</string>
	<string>SKYLARK</string>
	<string>KING HARVEST</string>
	<string>PAUL SIMON</string>
	<string>MAUREEN MC GOVERN</string>
	<string>JOHN DENVER</string>
	<string>GILBERT O' SULLIVAN</string>
	<string>STEELERS WHEEL</string>
	<string>THREE DOG NIGHT</string>
	<string>ROLLING STONES</string>
	<string>O'JAY'S</string>
	<string>BARRY WHITE</string>
</array>
</plist>
