<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ROBERTA FLACK</string>
	<string>GILBERT O' SULLIVAN</string>
	<string>DON McLEAN</string>
	<string>NILSSON</string>
	<string>SAMMY DAVIS JR.</string>
	<string>MELANIE</string>
	<string>BILL WITHERS</string>
	<string>MAC DAVIS</string>
	<string>JOE TEX</string>
	<string>AMERICA</string>
	<string>AL GREEN</string>
	<string>LOOKING GLASS</string>
	<string>STAPLE SINGERS</string>
	<string>CHUCK BERRY</string>
	<string>WAYNE NEWTON</string>
	<string>DENNIS COFFEY</string>
	<string>CHI-LITES</string>
	<string>GALLERY</string>
	<string>LUTHER INGRAM</string>
	<string>NEIL YOUNG</string>
	<string>STYLISTICS</string>
	<string>MICHAEL JACKSON</string>
	<string>ROBERT JOHN</string>
	<string>BILLY PRESTON</string>
	<string>JOHNNY NASH</string>
	<string>MOODY BLUES</string>
	<string>WAR</string>
	<string>HOLLIES</string>
	<string>STYLISTICS</string>
	<string>NEIL DIAMOND</string>
	<string>MAIN INGREDIENT</string>
	<string>HOT BUTTER</string>
	<string>5TH DIMENSION</string>
	<string>CLIMAX</string>
	<string>RASPBERRIES</string>
	<string>JONATHAN EDWARDS</string>
	<string>CORNELIUS BROTHERS AND SISTER ROSE</string>
	<string>O'JAYS</string>
	<string>RICK NELSON</string>
	<string>ELVIS PRESLEY</string>
	<string>MEL AND TIM</string>
	<string>GODSPELL</string>
	<string>ELTON JOHN</string>
	<string>OSMONDS</string>
	<string>JIM CROCE</string>
	<string>BETTY WRIGHT</string>
	<string>DANIEL BOONE</string>
	<string>CAT STEVENS</string>
	<string>ARGENT</string>
	<string>CHAKACHAS</string>
	<string>MICHAEL JACKSON</string>
	<string>BREAD</string>
	<string>DRAMATICS</string>
	<string>AL GREEN</string>
	<string>RPBERTA FLACK AND DONNY HATHAWAY</string>
	<string>T. REX</string>
	<string>ARLO GUTHRIE</string>
	<string>PAUL SIMON</string>
	<string>AL GREEN</string>
	<string>CURTIS MAYFIELD</string>
	<string>MOUTH AND MACNEAL</string>
	<string>DONNA FARGO</string>
	<string>DEREK &amp; THE DOMINOS</string>
	<string>CHARLIE PRIDE</string>
	<string>ARETHA FRANKLIN</string>
	<string>THREE DOG NIGHT</string>
	<string>DR. HOOK &amp; THE MEDICINE SHOW</string>
	<string>CHER</string>
	<string>CARPENTERS</string>
	<string>NILSSON</string>
	<string>BEVERLY BREMERS</string>
	<string>DONNY OSMOND</string>
	<string>COMMANDER CODY &amp; THE LOST PLANET AIRMEN</string>
	<string>SONNY AND CHER</string>
	<string>APOLLO 100</string>
	<string>JOE SIMON</string>
	<string>THREE DOG NIGHT</string>
	<string>ALICE COOPER</string>
	<string>CHICAGO</string>
	<string>REDBONE</string>
</array>
</plist>
