<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SIMON AND GARFUNKEL</string>
	<string>CARPENTERS </string>
	<string>GUESS WHO </string>
	<string>B.J. THOMAS </string>
	<string>EDWIN STARR </string>
	<string>DIANA ROSS </string>
	<string>JACKSON FIVE </string>
	<string>RARE EARTH </string>
	<string>BEATLES </string>
	<string>FREDA PAYNE </string>
	<string>THREE DOG NIGHT </string>
	<string>RAY STEVENS </string>
	<string>BREAD </string>
	<string>VANITY FAIR </string>
	<string>JACKSON FIVE </string>
	<string>JACKSON FIVE </string>
	<string>NEIL DIAMOND </string>
	<string>DAWN </string>
	<string>SLY AND THE FAMILY STONE </string>
	<string>ERIC BURDON AND WAR </string>
	<string>FIVE STAIRSTEPS </string>
	<string>NORMAN GREENBAUM </string>
	<string>MELANIE </string>
	<string>TEMPTATIONS </string>
	<string>MOMENTS </string>
	<string>FREE </string>
	<string>POPPY FAMILY </string>
	<string>JACKSON FIVE </string>
	<string>BOBBY SHERMAN </string>
	<string>SUGARLOAF </string>
	<string>STEVIE WONDER </string>
	<string>BLUES IMAGE </string>
	<string>SHOCKING BLUE </string>
	<string>JOHN LENNON </string>
	<string>CLARENCE CARTER </string>
	<string>CREEDENCE CLEARWATER REVIVAL </string>
	<string>BROOK BENTON </string>
	<string>KENNY ROGERS AND THE FIRST EDITION </string>
	<string>CHAIRMEN OF THE BOARD </string>
	<string>EDISON LIGHTHOUSE </string>
	<string>THE BEATLES </string>
	<string>ANNE MURRAY </string>
	<string>MARMALADE </string>
	<string>EDDIE HOLMAN </string>
	<string>THE JAGGERZ </string>
	<string>HOLLIES </string>
	<string>ALIVE AND KICKING </string>
	<string>BADFINGER </string>
	<string>SIMON AND GARFUNKEL </string>
	<string>CHARLES WRIGHT AND THE WATTS 103RD STREET RHYTHM BAND </string>
	<string>TYRONE DAVIS </string>
	<string>KINKS </string>
	<string>MUNGO JERRY </string>
	<string>R. DEAN TAYLOR </string>
	<string>RARE EARTH </string>
	<string>BOBBY SHERMAN </string>
	<string>CHARLES WRIGHT AND THE WATTS 103RD STREET RHYTHM BAND </string>
	<string>FOUR TOPS </string>
	<string>CHICAGO </string>
	<string>FRIJID PINK </string>
	<string>CHICAGO </string>
	<string>WHITE PLAINS </string>
	<string>FRIENDS OF DISTINCTION </string>
	<string>BROTHERHOOD OF MAN </string>
	<string>THE CARPENTERS </string>
	<string>MARK LINDSAY </string>
	<string>JAMES TAYLOR </string>
	<string>GENE CHANDLER </string>
	<string>SANTANA </string>
	<string>GUESS WHO </string>
	<string>DELFONICS </string>
	<string>ELVIS PRESLEY </string>
	<string>CREEDENCE CLEARWATER REVIVAL  </string>
	<string>RONNIE DYSON </string>
	<string>B.J. THOMAS </string>
	<string>SPINNERS </string>
	<string>BOBBI MARTIN </string>
	<string>MOUNTAIN </string>
	<string>IKE AND TINA TURNER </string>
	<string>JOE COCKER </string>
</array>
</plist>
