<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>ELTON JOHN &amp; KIKI DEE</string>
	<string>JOHNNY TAYLOR</string>
	<string>FOUR SEASONS</string>
	<string>WILD CHERRY</string>
	<string>MANHATTENS</string>
	<string>MIRACLES</string>
	<string>PAUL SIMON</string>
	<string>GARY WRIGHT</string>
	<string>WALTER MURPHY</string>
	<string>HALL &amp; OATES</string>
	<string>STARLAND VOCAL BAND</string>
	<string>BARRY MANILOW</string>
	<string>SILVER CONVENTION</string>
	<string>DIANA ROSS</string>
	<string>SEALS AND CROFTS</string>
	<string>ANDREA TRUE CONNECTIN</string>
	<string>QUEEN</string>
	<string>DOROTHY MOORE</string>
	<string>SILBERS</string>
	<string>ENGLAND DAN &amp; JOHN FORD COLEY</string>
	<string>HOT CHOCOLATE</string>
	<string>NAZARETH</string>
	<string>SILVER CONVENTION</string>
	<string>EAGLES</string>
	<string>KC &amp; THE SUNSHINE BAND</string>
	<string>COMMODORES</string>
	<string>MAXINE NIGHTINGALE</string>
	<string>RHYTHM HERITAGE</string>
	<string>OHIO PLAYERS</string>
	<string>BEE GEES</string>
	<string>LOU RAWLS</string>
	<string>DAVID BOWIE</string>
	<string>STARBUCK</string>
	<string>DR. HOOK</string>
	<string>THE BELLAMY BROTHERS</string>
	<string>GARY WRIGHT</string>
	<string>VICKY SUE ROBINSON</string>
	<string>THE CAPTAIN &amp; TENNILLE</string>
	<string>ERIC CARMEN</string>
	<string>DONNA SUMMER</string>
	<string>DONNY &amp; MARIE OSMOND</string>
	<string>DIANA ROSS</string>
	<string>RUFUS FEATURING CHAKA-KAHN</string>
	<string>KC &amp; THE SUNSHINE BAND</string>
	<string>DR HOOK</string>
	<string>HENRY GROSS</string>
	<string>CHICAGO</string>
	<string>BOZ SCAGGS</string>
	<string>PETER FRAMPTON</string>
	<string>AREOSMITH</string>
	<string>THE OJ"S</string>
	<string>FLEETWOOD MAC</string>
	<string>PAUL ANKA</string>
	<string>CLIFF RICHEY</string>
	<string>ELVIN BISHOP</string>
	<string>C.W. McCALL</string>
	<string>JOHN SEBASTIAN</string>
	<string>EARTH, WIND &amp; FIRE</string>
	<string>TAVARES</string>
	<string>BROTHERS JOHNSON</string>
	<string>BEACH BOYS</string>
	<string>THE CAPTAIN AND TENNILLE</string>
	<string>BAY CITY ROLLERS</string>
	<string>ELTON JOHN</string>
	<string>STAPLE SINGERS</string>
	<string>PAUL MCCARTNEY &amp; WINGS</string>
	<string>THE WING AND A PRAYER FIFE AND DRUM CORPS</string>
	<string>GEORGE BENSON</string>
	<string>ELO</string>
	<string>SILVER</string>
	<string>KEITH CARRADINE</string>
	<string>HAROLD MELVIN &amp; THE BLUE NOTES</string>
	<string>WAR</string>
	<string>JOHN TRAVOLTA</string>
	<string>SWEET</string>
	<string>FLEETWOOD MAC</string>
	<string>THE BEATLES</string>
	<string>BEE GEES</string>
	<string>EARTH, WIND &amp; FIRE</string>
	<string>DARYL HALL &amp; JOHN OATES</string>
	<string>ORLEANS</string>
	<string>QUEEN</string>
	<string>JEFFERSON STARSHIP</string>
	<string>FOGHAT</string>
	<string>OHIO PLAYERS</string>
	<string>THIN LIZZY</string>
	<string>DAVID RUFFIN</string>
	<string>PETER FRAMPTON</string>
	<string>CANDI STATON</string>
	<string>NEIL SEDAKA</string>
	<string>BAY CITY ROLLERS</string>
	<string>PARLIAMENT</string>
	<string>LARRY GROSS</string>
	<string>BARRY MANILOW</string>
	<string>KISS</string>
	<string>RICK DEES</string>
	<string>STEVE MILLER BAND</string>
	<string>THE WHO</string>
	<string>GLEN CAMPBELL</string>
</array>
</plist>
