<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>THE KNACK</string>
	<string>DONNA SUMMER</string>
	<string>CHIC</string>
	<string>ROD STEWART</string>
	<string>PEACHES &amp; HERB</string>
	<string>GLORIA GAYNOR</string>
	<string>DONNA SUMMER</string>
	<string>VILLAGE PEOPLE</string>
	<string>ANITA WARD</string>
	<string>ROBERT JOHN</string>
	<string>BEE GEES</string>
	<string>DONNA SUMMER</string>
	<string>DR HOOK</string>
	<string>DAVID NAUGHTON</string>
	<string>THE POINTER SISTERS</string>
	<string>THE BEE GEES</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>BLONDIE</string>
	<string>THE DOOBIE BROTHERS</string>
	<string>CHIC</string>
	<string>BARBRA STREISAND AND NEIL DIAMOND</string>
	<string>AMY STEWART</string>
	<string>SUZIE QUATRO AND CHRIS NORMAN</string>
	<string>MAXINE NIGHTENGALE</string>
	<string>THE JACKSONS</string>
	<string>MELISSA MANCHESTER</string>
	<string>SUPERTRAMP</string>
	<string>BILLY JOEL</string>
	<string>RANDY VAN WORMER</string>
	<string>RAYDIO</string>
	<string>PEACHES &amp; HERB</string>
	<string>DIONNE WARWICK</string>
	<string>BEE GEES</string>
	<string>CHEAP TRICK</string>
	<string>BARBRA STREISAND</string>
	<string>ELTON JOHN</string>
	<string>LEIF GARRETT</string>
	<string>EARTH, WIND AND FIRE</string>
	<string>DONNA SUMMER</string>
	<string>KENNY ROGERS</string>
	<string>NICOLETTE LARSON</string>
	<string>THE LITTLE RIVER BAND</string>
	<string>BONNIE POINTER</string>
	<string>TOTO</string>
	<string>SISTER SLEDGE</string>
	<string>DR. HOOK</string>
	<string>KENNY ROGERS</string>
	<string>THE VILLAGE PEOPLE</string>
	<string>FRANK MILLS</string>
	<string>CHARLIE DANIELS BAND</string>
</array>
</plist>
