<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>THE CAPTAIN &amp; TENNILLE</string>
	<string>GLEN CAMPBELL</string>
	<string>ELTON JOHN</string>
	<string>FREDDIE FENDER</string>
	<string>FRANKIE VALLI</string>
	<string>GRAND FUNK</string>
	<string>EARTH, WIND &amp; FIRE</string>
	<string>DAVID BOWIE</string>
	<string>NEIL SEDAKA</string>
	<string>EAGLES</string>
	<string>JOHN DENVER</string>
	<string>BEE GEES</string>
	<string>EAGLES</string>
	<string>MINNIE RIPERTON</string>
	<string>CARL DOUGLAS</string>
	<string>DOOBIE BROTHERS</string>
	<string>SWEET</string>
	<string>B.J. THOMAS</string>
	<string>TONY ORLANDO &amp; DAWN</string>
	<string>JANIS IAN</string>
	<string>AVERAGE WHITE BAND</string>
	<string>VAN McCOY</string>
	<string>LABELLE</string>
	<string> WAR</string>
	<string>MAJOR HARRIS</string>
	<string>STEVIE WONDER</string>
	<string>FREDDIE FENDER (TIE)</string>
	<string>HELEN REDDY (TIE)</string>
	<string>ISLEY BROTHERS</string>
	<string>OZARK MOUNTAIN DAREDEVILS</string>
	<string>OHIO PLAYERS</string>
	<string>PILOT</string>
	<string>CARPENTERS</string>
	<string>AMERICA</string>
	<string>ELTON JOHN</string>
	<string>BARRY MANILOW</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>BARRY MANILOW</string>
	<string>HARRY CHAPIN</string>
	<string>MICHAEL MURPHY</string>
	<string>JESSE COLTER</string>
	<string>WINGS</string>
	<string>10CC</string>
	<string>BILLY SWAN</string>
	<string>HAMILTON, JOE FRANK, AND REYNOLDS</string>
	<string>MORRIS ALPERT</string>
	<string>LINDA RONSTADT</string>
	<string>SAMMY JOHNS</string>
	<string>BARRY WHITE</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>LINDA RONSTADT</string>
	<string>BAZOOKA</string>
	<string>BLACKBYRDS</string>
	<string>GLADYS KNIGHT &amp; THE PIPS</string>
	<string>MELISSA MANCHESTER</string>
	<string>SUGARLOAF</string>
	<string>PHOEBE SNOW</string>
	<string>ACE</string>
	<string>B.T. EXPRESS</string>
	<string>EARTH, WIND &amp; FIRE</string>
	<string>STYX</string>
	<string>GRAND FUNK</string>
	<string>ALICE COOPER</string>
	<string>CAROL DOUGLAS</string>
	<string>K.C. &amp; THE SUNSHINE BAND</string>
	<string>PAUL ANKA</string>
	<string>JOE COCKER</string>
	<string>BAD COMPANY</string>
	<string>JAMES TAYLOR</string>
	<string>ORLEANS</string>
	<string>AVERAGE WHITE BAND (TIE)</string>
	<string>GLORIA GAYNOR (TIE)</string>
	<string>PAUL ANKA</string>
	<string>DONNY &amp; MARIE OSMOND</string>
	<string>THREE DEGREES</string>
	<string>JOE SIMON</string>
	<string>JOHN DENVER</string>
	<string>QUEEN</string>
	<string>EDDIE KENDRICKS</string>
	<string>B.T. EXPRESS</string>
	<string>ELECTRIC LIGHT ORCHESTRA</string>
	<string>AL GREEN</string>
	<string>AMERICA</string>
	<string>RUFUS</string>
	<string>MIKE POST</string>
	<string>TAVARES</string>
	<string>RINGO STARR</string>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>JETHRO TULL</string>
	<string>LEO SAYER</string>
	<string>RAY STEVENS</string>
	<string>ELTON JOHN</string>
	<string>NEIL SEDAKA</string>
	<string>CARPENTERS</string>
	<string>DWIGHT TWILLEY BAND</string>
	<string>RINGO STARR</string>
	<string>AMAZING RHYTHM ACES (TIE)</string>
	<string>BACHMAN -TURNER OVERDRIVE (TIE)</string>
	<string>DISCOTHEQUE AND THE SEX-O-LETTES 99</string>
</array>
</plist>
