<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>THREE DOG NIGHT</string>
	<string>ROD STEWART </string>
	<string>CAROLE KING </string>
	<string>THE OSMONDS </string>
	<string>BEE GEES </string>
	<string>PAUL REVERE &amp; THE RAIDERS </string>
	<string>DONNY OSMOND </string>
	<string>JOHN DENVER WITH FAT CITY </string>
	<string>TEMPTATIONS </string>
	<string>TONY ORLANDO &amp; DAWN </string>
	<string>JANIS JOPLIN </string>
	<string>AL GREEN </string>
	<string>HONEYCOMBS </string>
	<string>UNDISPUTED TRUTH </string>
	<string>CORNELIUS BROTHERS &amp; SISTER ROSE </string>
	<string>ROLLING STONES </string>
	<string>JAMES TAYLOR </string>
	<string>JEAN KNIGHT </string>
	<string>LEE MICHAELS </string>
	<string>JOAN BAEZ </string>
	<string>MARVIN GAYE </string>
	<string>PAUL &amp; LINDA McCARTNEY </string>
	<string>BILL WITHERS </string>
	<string>FIVE MAN ELECTRICAL BAND </string>
	<string>TOM JONES </string>
	<string>FREE MOVEMENT </string>
	<string>MURRAY HEAD </string>
	<string>JERRY REED </string>
	<string>GRASS ROOTS </string>
	<string>CARPENTERS </string>
	<string>GEORGE HARRISON </string>
	<string>DONNY OSMOND </string>
	<string>OCEAN </string>
	<string>DADDY DEWDROP </string>
	<string>CARPENTERS </string>
	<string>GORDON LIGHTFOOT </string>
	<string>SAMMI SMITH </string>
	<string>CARPENTERS </string>
	<string>CHER </string>
	<string>JACKSON FIVE </string>
</array>
</plist>
