<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BARBRA STREISAND</string>
	<string>TERRY JACKS</string>
	<string>LOVE UNLIMITED ORCHESTRA</string>
	<string>REDBONE</string>
	<string>JACKSON FIVE</string>
	<string>GRAND FUNK RAILROAD</string>
	<string>M.F.S.B.</string>
	<string>RAY STEVENS</string>
	<string>ELTON JOHN</string>
	<string>MAC DAVIS</string>
	<string>ARETHA FRANKLIN</string>
	<string>KOOL &amp; THE GANG</string>
	<string>MARIA MULDAUR</string>
	<string>STYLISTICS</string>
	<string>AL WILSON</string>
	<string>JIM STAFFORD</string>
	<string>DAVID ESSEX</string>
	<string>JOHN DENVER</string>
	<string>BLUE MAGIC</string>
	<string>BLUE SWEDE</string>
	<string>BO DONALDSON &amp; THE HAYWOODS</string>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>CHARLIE RICH</string>
	<string>JIM CROCE</string>
	<string>JOHN DENVER</string>
	<string>PAUL ANKA</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>GORDON LIGHTFOOT (CUT SHORT)</string>
	<string>ANDY KIM</string>
	<string>EDDIE KENDRICKS</string>
	<string>RINGO STARR</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>CHER</string>
	<string>GLADYS KNIGHT &amp; THE PIPS</string>
	<string>ROBERTA FLACK</string>
	<string>MAIN INGREDIENT</string>
	<string>BILLY PRESTON</string>
	<string>GEORGE McRAE</string>
	<string>CARPENTERS</string>
	<string>STEVE MILLER BAND</string>
	<string>GLADYS KNIGHT &amp; THE PIPS</string>
	<string>THREE DOG NIGHT</string>
	<string>THE HUGHES CORPORATION</string>
	<string>BROWNSVILLE STATION</string>
	<string>STEVIE WONDER</string>
	<string>DIONNE WARWICK &amp; THE SPINNERS</string>
	<string>PAPER LACE</string>
	<string>MARVIN HAMLISCH</string>
	<string>ABBA</string>
	<string>HOLLIES</string>
	<string>STEELY DAN</string>
	<string>JAMES TAYLOR &amp; CARLY SIMON</string>
	<string>JONI MITCHELL</string>
	<string>BARRY WHITE</string>
	<string>ANNE MURRAY</string>
	<string>RUFUS</string>
	<string>HELEN REDDY</string>
	<string>RIGHTEOUS BROTHERS</string>
	<string>KOOL &amp; THE GANG</string>
	<string>WILLIAM DEVAUGHN</string>
	<string>JOHNNY BRISTOL</string>
	<string>MOCEDADAS</string>
	<string>BACHMAN-TURNER OVERDRIVE</string>
	<string>GOLDEN EARRING</string>
	<string>DAVE LOGGINS</string>
	<string>WET WILLIE</string>
	<string>BOBBY WOMACK</string>
	<string>OJâS</string>
	<string>GLADYS KNIGHT &amp; THE PIPS</string>
	<string>CAT STEVENS</string>
	<string>HELEN REDDY</string>
	<string>ELTON JOHN</string>
	<string>CHICAGO</string>
	<string>RINGO STARR</string>
	<string>OJAYâS</string>
	<string>ERIC CLAPTON</string>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>ELTON JOHN</string>
	<string>MIKE OLDFIELD</string>
	<string>ANNE MURRAY</string>
	<string>DONNY &amp; MARIE</string>
	<string>TODD RUNDGREN</string>
	<string>TOM T. HALL</string>
	<string>GUESS WHO</string>
	<string>SISTER JANET MEADE</string>
	<string>JIM CROCE</string>
	<string>LAMONT DOZIER</string>
	<string>STEVIE WONDER</string>
	<string>CHARLIE RICH</string>
	<string>JIM STAFFORD</string>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>DIANA ROSS &amp; MARVIN GAYE</string>
	<string>JIM STAFFORD</string>
	<string>FIRST CLASS</string>
	<string>WAR</string>
	<string>STYLISTICS</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>CHICAGO</string>
	<string>FANCY</string>
	<string>SPINNERS</string>
</array>
</plist>
