<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ANDY GIBB</string>
	<string>BEE GEES</string>
	<string>DEBBIE BOONE</string>
	<string>BEE GEES</string>
	<string>EXILE</string>
	<string>BEE GEES</string>
	<string>PLAYER</string>
	<string>ANDY GIBB</string>
	<string>A TASTE OF HONEY</string>
	<string>COMMODORES</string>
	<string>FRANKIE VALLI</string>
	<string>PAUL DAVIS</string>
	<string>OLIVIA NEWTON-JOHN &amp; JOHN TRAVOLTA</string>
	<string>SAMANTHA SANG</string>
	<string>ERIC CLAPTON</string>
	<string>ROLLING STONES</string>
	<string>BILLY JOEL</string>
	<string>PAUL McCARTNEY &amp; WINGS</string>
	<string>YVONNE ELLIMAN</string>
	<string>SHEIK</string>
	<string>CHUCK MANGIONE</string>
	<string>NICK GUILDER</string>
	<string>SWEET</string>
	<string>BONNIE TYLER</string>
	<string>QUEEN</string>
	<string>JERRY RAFFERTY</string>
	<string>BARRY MANILOW</string>
	<string>JOHNNY MATHIS &amp; DENICE WILLIAMS</string>
	<string>PETER BROWN</string>
	<string>MEATLOAF</string>
	<string>RAYDIO</string>
	<string>ABBA</string>
	<string>DAN HILL</string>
	<string>DONNA SUMMER</string>
	<string>OLIVIA NEWTON-JOHN</string>
	<string>FOREIGNER</string>
	<string>ROS STEWART</string>
	<string>ROBERTA FLACK &amp; DONNY HATHAWAY</string>
	<string>KANSAS</string>
	<string>WALTER EAGAN</string>
	<string>RANDY NEWMANN</string>
	<string>OJ'S</string>
	<string>NATALIE COLE</string>
	<string>PABLO CRUISE</string>
	<string>ANDY GIBB</string>
	<string>JOHN PAUL YOUNG</string>
	<string>DAVID GATES &amp; BREAD</string>
	<string>PAUL SIMON</string>
	<string>HEAT WAVE</string>
	<string>JAY FERGUSON</string>
	<string>ATLANTA RHYTHM SECTION</string>
	<string>BOB SEEGER</string>
	<string>TOBY BEAUX</string>
	<string>TRAMMPS</string>
	<string>GEORGE BENSON</string>
	<string>STYX</string>
	<string>LTD</string>
	<string>PLAYER</string>
	<string>CARLY SIMON</string>
	<string>DOLLY PARTON</string>
	<string>LINDA RONSTADT</string>
	<string>STEELY DAN</string>
	<string>ANNE MURRAY</string>
	<string>EVELYN "CHAMPAGNE" KING</string>
	<string>LITTLE RIVER BAND</string>
	<string>JEFFERSON STARSHIP</string>
	<string>EDDIE MONEY</string>
	<string>SHAWN CASSIDY</string>
	<string>JOHN TRAVOLTA &amp; OLIVIA NEWTON-JOHN</string>
	<string>LYNYRD SKYNARD</string>
	<string>CRYSTAL GAYLE</string>
	<string>PATTI SMITH GROUP</string>
	<string>ROBERT PALMER</string>
	<string>BARRY MANILOW</string>
	<string>HEAT WAVE</string>
	<string>RICK JAMES</string>
	<string>EARTH, WIND &amp; FIRE</string>
	<string>BOB WELCH</string>
	<string>BLANC &amp; CARR</string>
	<string>SANTA ESMERALDA</string>
	<string>MICHAEL JOHNSON</string>
	<string>JACKSON BROWN</string>
	<string>KENNY LOGGINS</string>
	<string>CHRIS REA</string>
	<string>FOXY</string>
	<string>E.L.O.</string>
	<string>JOE WALSH</string>
	<string>ALICIA BRIDGES</string>
	<string>HIGH ENERGY</string>
	<string>LINDA RONSTADT</string>
	<string>ODYSSEY</string>
	<string>PARLIAMENT</string>
	<string>BOSTON</string>
	<string>E.L.O.</string>
	<string>ERUPTION</string>
	<string>BOB WELCH</string>
	<string>ABBA</string>
	<string>RITA COOLIDGE</string>
	<string>BOB SEEGER &amp; THE SILVER BULLETT BAND</string>
	<string>STEELY DAN</string>
</array>
</plist>
