<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ANDY GIBB</string>
	<string>ROD STEWART</string>
	<string>EMOTIONS</string>
	<string>BARBRA STREISAND</string>
	<string>MARILYN MC COO &amp; BILLY DAVIS JR.</string>
	<string> KENNY NOLAN</string>
	<string>THELMA HOUSTON</string>
	<string>HOT</string>
	<string>MARY MC GREGOR</string>
	<string>ALLEN O'DAY</string>
	<string>LEO SAYER</string>
	<string>RITA COOLIDGE</string>
	<string>KC &amp; THE SUNSHINE BAND</string>
	<string>ABBA</string>
	<string>SYLVERS</string>
	<string>BEE GEES</string>
	<string>ROSE ROYCE</string>
	<string>SPINNERS</string>
	<string>STEVIE WONDER</string>
	<string>EAGLES</string>
	<string>DARYL HALL &amp; JOHN OATES</string>
	<string>ELECTRIC LIGHT ORCHESTRA</string>
	<string>BILL CONTE</string>
	<string>STEPHEN BISHOP</string>
	<string>MARVIN GAYE</string>
	<string>GLEN CAMPBELL</string>
	<string>MANFRED MANN</string>
	<string>LEO SAYER</string>
	<string>PETER MC CANN</string>
	<string>JIMMY BUFFET</string>
	<string>STEVIE WONDER</string>
	<string>THE CAPTAIN &amp; TENNILLE</string>
	<string>STEVE MILLER BAND</string>
	<string>PABLO CRUZ</string>
	<string>FIREFALL</string>
	<string>BRICK</string>
	<string>DAVID SOUL</string>
	<string>BURTON CUMMINGS</string>
	<string>JOHNNY RIVERS</string>
	<string>JACKSONS</string>
	<string>KISS</string>
	<string>BARRY MANILOW</string>
	<string>FOREIGNER</string>
	<string>CLIMAX BLUES BAND</string>
	<string>COMMODORES</string>
	<string>FLEETWOOD MAC</string>
	<string>JENNIFER WARREN</string>
	<string>BOSTON</string>
	<string>NATALIE COLE</string>
	<string>ALICE COOPER</string>
	<string>DEBBIE BOONE</string>
	<string>EAGLES</string>
	<string>SHAUN CASSIDY</string>
	<string>MEKO</string>
	<string>ENGLEBERT HUMPERDINCK</string>
	<string>BOB SEGER</string>
	<string>ATLANTA RHYTHM SECTION</string>
	<string>PETER FRAMPTON</string>
	<string>KANSAS</string>
	<string>KENNY ROGERS</string>
	<string>10 CC</string>
	<string>ANDREW GOLD</string>
	<string>JAMES TAYLOR</string>
	<string>CROSBY, STILLS &amp; NASH</string>
	<string>ALICE COOPER</string>
	<string>FLEETWOOD MAC</string>
	<string>FOREIGNER</string>
	<string>DAVID DUNDES</string>
	<string>HEART</string>
	<string>SHAUN CASSIDY</string>
	<string>BARBRA STREISAND</string>
	<string>BROTHERS JOHNSON</string>
	<string>MARSHALL TUCKER BAND</string>
	<string>BARRY MANILOW</string>
	<string>HELEN REDDY</string>
	<string>KC &amp; THE SUNSHINE BAND</string>
	<string>ELVIS PRESLEY</string>
	<string>CARLY SIMON</string>
	<string>ELECTRIC LIGHT ORCHESTRA</string>
	<string>BREAD</string>
	<string>STEVE MILLER BAND</string>
	<string>RONNIE MILSAP</string>
	<string>YVONNE ELLIMAN</string>
	<string>HEAT WAVE</string>
	<string>SANFORD TOWNSEND BAND</string>
	<string>COMMODORES</string>
	<string>GENE FREEDMAN</string>
	<string>BAY CITY ROLLERS</string>
	<string>ENGLAND DAN &amp; JOHN FORD COLEY</string>
	<string>PETER FRAMPTON</string>
	<string>FLOATERS</string>
	<string>AEROSMITH</string>
	<string>BOZ SCAGGS</string>
	<string>QUEEN</string>
	<string>DR. BUZZARD'S ORIGINAL SAVANNAH BAND</string>
	<string>DONNA SUMMER</string>
	<string>CRYSTAL GAYLE</string>
	<string>AL STEWART</string>
	<string>SUPERTRAMP</string>
	<string>ELTON JOHN</string>
</array>
</plist>
