<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TIE A YELLOW RIBBON 'ROUND THE OLD OAK TREE</string>
	<string>WHY ME LORD</string>
	<string>BAD BAD LEROY BROWN</string>
	<string>KILLING ME SOFTLY WITH HIS SONG</string>
	<string>LET'S GET IT ON</string>
	<string>MY LOVE</string>
	<string>CROCODILE ROCK</string>
	<string>WILL IT GO ROUND IN CIRCLES</string>
	<string>YOU'RE SO VAIN</string>
	<string>TOUCH ME IN THE MORNING</string>
	<string>ME &amp; MRS. JONES</string>
	<string>THE NIGHT THE LIGHTS WENT OUT IN GEORGIA</string>
	<string>HALF-BREED</string>
	<string>PLAYGROUND IN MY MIND</string>
	<string>BROTHER LOUIE</string>
	<string>DELTA DAWN</string>
	<string>KEEP ON TRUCKIN'</string>
	<string>THAT LADY</string>
	<string>FRANKENSTEIN</string>
	<string>DRIFT AWAY</string>
	<string>MIDNIGHT TRAIN TO GEORGIA</string>
	<string>LITTLE WILLIE</string>
	<string>YOU ARE THE SUNSHINE OF MY LIFE</string>
	<string>PILLOW TALK</string>
	<string>WE'RE AN AMERICAN BAND</string>
	<string>RIGHT PLACE, WRONG TIME</string>
	<string>ROCKIN' PNEUMONIA &amp; THE BOOGIE WOOGIE FLU</string>
	<string>FUNNY FACE</string>
	<string>SUPERSTITION</string>
	<string>WILDFLOWER</string>
	<string>DANCIN' IN THE MOONLIGHT</string>
	<string>LOVES ME LIKE A ROCK</string>
	<string>MORNING AFTER</string>
	<string>ROCKY MOUNTAIN HIGH</string>
	<string>CLAIRE</string>
	<string>STUCK IN THE MIDDLE WITH YOU</string>
	<string>SHAMBALA</string>
	<string>ANGIE</string>
	<string>LOVE TRAIN</string>
	<string>I'M GONNA LOVE YOU JUST A LITTLE BIT MORE, BABY</string>
</array>
</plist>
