<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I WANT TO BE YOUR EVERYTHING</string>
	<string>TONIGHT'S THE NIGHT</string>
	<string>BEST OF MY LOVE</string>
	<string>THEME FROM "A STAR IS BORN" (EVERGREEN)</string>
	<string>YOU DON'T HAVE TO BE A STAR</string>
	<string>I LIKE DREAMIN'</string>
	<string>DON'T LEAVE ME THIS WAY</string>
	<string>ANGELS IN YOUR ARMS</string>
	<string>TORN BETWEEN TWO LOVERS</string>
	<string>UNDERCOVER ANGEL</string>
	<string>YOU MAKE ME FEEL LIKE DANCIN'</string>
	<string>HIGHER &amp; HIGHER</string>
	<string>I'M YOUR BOOGIE MAN</string>
	<string>DANCING QUEEN</string>
	<string>HOT LINE</string>
	<string>LOVE SO RIGHT</string>
	<string>CAR WASH</string>
	<string>RUBBER BAND MAN</string>
	<string>SIR DUKE</string>
	<string>HOTEL CALIFORNIA</string>
	<string>RICH GIRL</string>
	<string>TELEPHONE LINE</string>
	<string>THEME FROM ROCKY</string>
	<string>ON AND ON</string>
	<string>GOT TO GIVE IT UP</string>
	<string>SOUTHERN NIGHTS</string>
	<string>BLINDED BY THE NIGHT</string>
	<string>WHEN I NEED YOU</string>
	<string>DO YOU WANT TO MAKE LOVE?</string>
	<string>MARGARITAVILLE</string>
	<string>I WISH</string>
	<string>MUSCRAT LOVE</string>
	<string>FLY LIKE AN EAGLE</string>
	<string>WHAT YOU GONNA DO?</string>
	<string>YOU ARE THE WOMAN</string>
	<string>DAZZ</string>
	<string>DON'T GIVE UP ON US BABY</string>
	<string>STAND TALL</string>
	<string>SWAYING TO THE MUSIC</string>
	<string>ENJOY YOURSELF</string>
	<string>BETH</string>
	<string>LOOKS LIKE WE MADE IT</string>
	<string>FEELS LIKE THE FIRST TIME</string>
	<string>COULDN'T GET IT RIGHT</string>
	<string>EASY</string>
	<string>DREAMS</string>
	<string>RIGHT TIME OF THE NIGHT</string>
	<string>MORE THAN A FEELING</string>
	<string>I'VE GOT LOVE ON MY MIND</string>
	<string>I NEVER CRY</string>
	<string>YOU LIGHT UP MY LIFE</string>
	<string>NEW KID IN TOWN</string>
	<string>DA DOO RON RON</string>
	<string>STAR WARS</string>
	<string>AFTER THE LOVIN'</string>
	<string>NIGHT MOVES</string>
	<string>SO INTO YOU</string>
	<string>I'M IN YOU</string>
	<string>CARRY ON MY WAYWARD SON</string>
	<string>LUCILLE</string>
	<string>THE THINGS WE DO FOR LOVE</string>
	<string>LONELY BOY</string>
	<string>HANDY MAN</string>
	<string>JUST A SONG BEFORE I GO</string>
	<string>YOU AND ME</string>
	<string>DON'T STOP</string>
	<string>COLD AS ICE</string>
	<string>JEANS ON</string>
	<string>BARRACUDA</string>
	<string>THAT'S ROCK &amp; ROLL</string>
	<string>MY HEART BELONGS TO ME</string>
	<string>STRAWBERRY LETTER #23</string>
	<string>HEARD IT IN A LOVE SONG</string>
	<string>WEEKEND IN NEW ENGLAND</string>
	<string>YOU'RE MY WORLD</string>
	<string>KEEP IT COMIN' LOVE</string>
	<string>WAY ON DOWN</string>
	<string>NOBODY DOES IT BETTER</string>
	<string>LIVING THING</string>
	<string>LOST WITHOUT YOUR LOVE</string>
	<string>JET AIRLINER</string>
	<string>IT WAS ALMOST LIKE A SONG</string>
	<string>LOVE ME</string>
	<string>BOOGIE NIGHTS</string>
	<string>SMOKE OF A DISTANT FIRE</string>
	<string>JUST TO BE CLOSE TO YOU</string>
	<string>CARRIELLE</string>
	<string>YOU MAKE ME BELIEVE IN MAGIC</string>
	<string>NIGHTS ARE FOREVER WITHOUT YOU</string>
	<string>DO YOU FEEL LIKE WE DO?</string>
	<string>FLOAT ON</string>
	<string>WALK THIS WAY</string>
	<string>LIDO SHUFFLE</string>
	<string>SOMEBODY TO LOVE</string>
	<string>CHERCHEZ LA FEMME</string>
	<string>I FEEL LOVE</string>
	<string>DON'T IT MAKE MY BROWN EYES BLUE</string>
	<string>YEAR OF THE CAT</string>
	<string>GIVE A LITTLE BIT</string>
	<string>SORRY SEEMS TO BE THE HARDEST WORD</string>
</array>
</plist>
