<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>THE FIRST TIME EVER I SAW YOUR FACE</string>
	<string>ALONE AGAIN (NATURALLY)</string>
	<string>AMERICAN PIE</string>
	<string>WITHOUT YOU</string>
	<string>THE CANDY MAN</string>
	<string>BRAND NEW KEY</string>
	<string>LEAN ON ME</string>
	<string>BABY DON'T GET HOOKED ON MY</string>
	<string>I GOTCHA</string>
	<string>A HORSE WITH NO NAME</string>
	<string>LET'S STAY TOGETHER</string>
	<string>BRANDY (YOU'RE A FINE GIRL)</string>
	<string>I'LL TAKE YOU THERE</string>
	<string>MY DING-A-LING</string>
	<string>DADDY DON'T YOU WALK SO FAST</string>
	<string>SCORPIO</string>
	<string>OH GIRL</string>
	<string>NICE TO BE WITH YOU</string>
	<string>IF LOVING YOU IS WRONG (I DON'T WANT TO BE RIGHT)</string>
	<string>HEART OF GOLD</string>
	<string>BETCHA BY GOLLY, WOW</string>
	<string>BEN</string>
	<string>THE LION SLEEPS TONIGHT</string>
	<string>OUTA-SPACE</string>
	<string>I CAN SEE CLEARLY NOW</string>
	<string>NIGHTS IN WHITE SATIN</string>
	<string>SLIPPING INTO DARKNESS</string>
	<string>LONG COOL WOMAN (IN A BLACK DRESS)</string>
	<string>YOU ARE EVERYTHING</string>
	<string>SONG SUNG BLUE</string>
	<string>EVERYBODY PLAYS THE FOOL</string>
	<string>POPCORN</string>
	<string>(LAST NIGHT) I DIDN'T GET TO SLEEP AT ALL</string>
	<string>PRECIOUS AND FEW</string>
	<string>GO ALL THE WAY</string>
	<string>SUNSHINE</string>
	<string>TOO LATE TO TURN BACK NOW</string>
	<string>BACKSTABBERS</string>
	<string>GARDEN PARTY</string>
	<string>BURNING LOVE</string>
	<string>STARTING ALL OVER AGAIN</string>
	<string>DAY BY DAY</string>
	<string>ROCKET MAN</string>
	<string>DOWN BY THE LAZY RIVER</string>
	<string>YOU DON'T MESS AROUND WITH JIM</string>
	<string>CLEAN UP WOMAN</string>
	<string>BEAUTIFUL SUNDAY</string>
	<string>MORNING HAS BROKEN</string>
	<string>HOLD YOUR HEAD UP</string>
	<string>JUNGLE FEVER</string>
	<string>ROCKIN' ROBIN</string>
	<string>EVERYTHING I OWN</string>
	<string>IN THE RAIN</string>
	<string>LOOK WHAT YOU DONE FOR ME</string>
	<string>WHERE IS THE LOVE</string>
	<string>BANG A GONG (GET IT ON)</string>
	<string>THE CITY OF NEW ORLEANS</string>
	<string>MOTHER AND CHILD REUNION</string>
	<string>I'M STILL IN LOVE WITH YOU</string>
	<string>FREDDIE'S DEAD</string>
	<string>HOW DO YOU DO</string>
	<string>THE HAPPIEST GIRL IN THE WHOLE U.S.A.</string>
	<string>LAYLA</string>
	<string>KISS AN ANGEL GOOD MORNING</string>
	<string>DAY DREAMING</string>
	<string>BLACK AND WHITE</string>
	<string>SYLVIA'S MOTHER</string>
	<string>THE WAY OF LOVE</string>
	<string>HURTING EACH OTHER</string>
	<string>COCONUT</string>
	<string>DON'T SAY YOU DON'T REMEMBER</string>
	<string>PUPPY LOVE</string>
	<string>HOT ROD LINCOLN</string>
	<string>A COWBOY'S WORK IS NEVER DONE</string>
	<string>JOY</string>
	<string>DROWNING IN A SEA OF LOVE</string>
	<string>NEVER BEEN TO SPAIN</string>
	<string>SCHOOL'S OUT</string>
	<string>SATURDAY IN THE PARK</string>
	<string>THE WITCH QUEEN OF NEW ORLEANS</string>
</array>
</plist>
