<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BRIDGE OVER TROUBLED WATER</string>
	<string>(THEY LONG TO BE) CLOSE TO YOU</string>
	<string>AMERICAN WOMAN</string>
	<string>RAINDROPS KEEP FALLIN&apos; ON MY HEAD</string>
	<string>WAR</string>
	<string>AIN&apos;T NO MOUNTAIN HIGH ENOUGH</string>
	<string>I&apos;LL BE THERE</string>
	<string>GET READY</string>
	<string>LET IT BE</string>
	<string>BAND OF GOLD</string>
	<string>MAMA TOLD ME (NOT TO COME)</string>
	<string>EVERYTHING IS BEAUTIFUL</string>
	<string>MAKE IT WITH YOU</string>
	<string>HITCHIN&apos; A RIDE</string>
	<string>ABC</string>
	<string>THE LOVE YOU SAVE</string>
	<string>CRACKLIN&apos; ROSIE</string>
	<string>CANDIDA</string>
	<string>THANK YOU (FALLETIN ME BE MICE ELF AGAIN)</string>
	<string>SPILL THE WINE</string>
	<string>O-O-H CHILD</string>
	<string>SPIRIT IN THE SKY</string>
	<string>LAY DOWN (CANDLES IN THE WIND)</string>
	<string>BALL OF CONFUSION</string>
	<string>LOVE ON A TWO-WAY STREET</string>
	<string>ALL RIGHT NOW</string>
	<string>WHICH WAY YOU GOIN&apos; BILLY (INCOMPLETE)</string>
	<string>I WANT YOU BACK</string>
	<string>JULIE, DO &apos;YA LOVE ME</string>
	<string>GREEN-EYED LADY</string>
	<string>SIGNED, SEALED, DELIVERED (I&apos;M YOURS)</string>
	<string>RIDE CAPTAIN RIDE</string>
	<string>VENUS</string>
	<string>INSTANT KARMA (WE ALL SHINE ON)</string>
	<string>PATCHES</string>
	<string>LOOKIN&apos; OUT MY BACK DOOR</string>
	<string>RAINY NIGHT IN GEORGIA</string>
	<string>SOMETHING&apos;S BURNING</string>
	<string>GIVE ME JUST A LITTLE MORE TIME</string>
	<string>LOVE GROWS (WHERE MY ROSEMARY GOES)</string>
	<string>THE LONG AND WINDING ROAD</string>
	<string>SNOWBIRD</string>
	<string>REFLECTIONS OF MY LIFE</string>
	<string>HEY THERE LONELY GIRL</string>
	<string>THE RAPPER</string>
	<string>HE AIN&apos;T HEAVY, HE&apos;S MY BROTHER</string>
	<string>TIGHTER, TIGHTER</string>
	<string>COME AND GET IT</string>
	<string>CECELIA</string>
	<string>LOVE LAND</string>
	<string>TURN BACK THE HANDS OF TIME</string>
	<string>LOLA</string>
	<string>IN THE SUMMERTIME</string>
	<string>INDIANA WANTS ME</string>
	<string>(I KNOW) I&apos;M LOSING YOU</string>
	<string>EASY COME, EASY GO</string>
	<string>EXPRESS YOURSELF</string>
	<string>STILL WATER (LOVE)</string>
	<string>MAKE ME SMILE</string>
	<string>HOUSE OF THE RISING SUN</string>
	<string>25 OR 6 TO 4</string>
	<string>MY BABY LOVES LOVIN&apos;</string>
	<string>LOVE OR LET ME BE LONELY</string>
	<string>UNITED WE STAND</string>
	<string>WE,VE ONLY JUST BEGUN</string>
	<string>ARIZONA</string>
	<string>FIRE AND RAIN</string>
	<string>GROOVY SITUATION</string>
	<string>EVIL WAYS</string>
	<string>NO TIME</string>
	<string>DIDN&apos;T I (BLOW YOUR MIND THIS TIME)</string>
	<string>THE WONDER OF YOU</string>
	<string>UP AROUND THE BEND</string>
	<string>(IF YOU LET ME MAKE LOVE TO YOU) WHY CAN&apos;T I TOUCH YOU</string>
	<string>I JUST CAN&apos;T HELP BELIEVING</string>
	<string>IT&apos;A A SHAME</string>
	<string>FOR THE LOVE OF HIM</string>
	<string>MISSISSIPPI QUEEN</string>
	<string>I WANT TO TAKE YOU HIGHER</string>
	<string>THE LETTER</string>
</array>
</plist>
