<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SILLY LOVE SONGS</string>
	<string>DON'T GO BREAKING MY HEART</string>
	<string>DISCO LADY</string>
	<string>DECEMBER 1963</string>
	<string>PLAY THAT FUNKY MUSIC</string>
	<string>KISS AND SAY GOODBYE</string>
	<string>LOVE MACHINE</string>
	<string>50 WAYS TO LEAVE YOUR LOVER</string>
	<string>LOVE IS ALIVE</string>
	<string>A FIFTH OF BEETHOVEN</string>
	<string>SARA SMILE</string>
	<string>AFTERNOON DELIGHT</string>
	<string>I WRITE THE SONGS</string>
	<string>FLY ROBIN FLY</string>
	<string>LOVE HANGOVER</string>
	<string>GET CLOSER</string>
	<string>MORE MORE MORE</string>
	<string>BOHEMIAN RHAPSODY</string>
	<string>MISTY BLUE</string>
	<string>BOOGIE FEVER</string>
	<string>I'D REALLY LOVE TO SEE YOU TONIGHT</string>
	<string>YOU SEXY THING</string>
	<string>LOVE HURTS</string>
	<string>GET UP AND BOOGIE</string>
	<string>TAKE IT TO THE LIMIT</string>
	<string>SHAKE YOUR BOOTY</string>
	<string>SWEET LOVE</string>
	<string>RIGHT BACK WHERE WE STARTED FROM</string>
	<string>THEME FROM "S.W.A.T."</string>
	<string>ROLLER COASTER</string>
	<string>YOU SHOULD BE DANCIN'</string>
	<string>YOU'RE GONNA MISS MY LOVIN'</string>
	<string>GOLDEN YEARS</string>
	<string>MOONLIGHT FEELS RIGHT</string>
	<string>ONLY SIXTEEN</string>
	<string>LET YOUR LOVE FLOW</string>
	<string>DREAM WEAVER</string>
	<string>TURN THE BEAT AROUND</string>
	<string>LONELY NIGHT</string>
	<string>ALL BY MYSELF</string>
	<string>LOVE TO LOVE YOU BABY</string>
	<string>DEEP PURPLE</string>
	<string>THEME FROM MAHOGANY"</string>
	<string>SWEET THING</string>
	<string>THAT'S THE WAY I LIKE IT</string>
	<string>A LITTLE BIT MORE</string>
	<string>SHANNON</string>
	<string>IF YOU LEAVE ME NOW</string>
	<string>LOWDOWN</string>
	<string>SHOW ME THE WAY</string>
	<string>DREAM ON</string>
	<string>I LOVE MUSIC</string>
	<string>SAY YOU LOVE ME</string>
	<string>TIME OF YOUR LIFE</string>
	<string>DEVIL WOMAN</string>
	<string>FOOLED AROUND AND FELL IN LOVE</string>
	<string>CONVOY</string>
	<string>WELCOME BACK</string>
	<string>SING A SONG</string>
	<string>HEAVEN MUST BE MISSING AN ANGEL</string>
	<string>I'LL BE GOOD TO YOU</string>
	<string>ROCK AND ROLL MUSIC</string>
	<string>SHOP AROUND</string>
	<string>SATURDAY NIGHT</string>
	<string>ISLAND GIRL</string>
	<string>LET'S DO IT AGAIN</string>
	<string>LET 'EM IN</string>
	<string>BABYFACE</string>
	<string>THIS MASCARADE</string>
	<string>EVIL WOMAN</string>
	<string>WHAM BAM</string>
	<string>I'M EASY</string>
	<string>WAKE UP EVERYBODY</string>
	<string>SUMMER</string>
	<string>LET HER IN</string>
	<string>FOX ON THE RUN</string>
	<string>RHIANNON</string>
	<string>GOT TO GET YOU INTO MY LIFE</string>
	<string>FANNY (BE TENDER WITH MY LOVE)</string>
	<string>GET AWAY</string>
	<string>SHE'S GONE</string>
	<string>STILL THE ONE</string>
	<string>YOU'RE MY BEST FRIEND</string>
	<string>WITH YOUR LOVE</string>
	<string>SLOW RIDE</string>
	<string>WHO'D SHE COO</string>
	<string>THE BOYS ARE BACK IN TOWN</string>
	<string>WALK AWAY FROM LOVE</string>
	<string>BABY I LOVE YOUR WAY</string>
	<string>YOUNG HEARTS RUN FREE</string>
	<string>BREAKING UP IS HARD TO DO</string>
	<string>MONEY HONEY</string>
	<string>TEAR THE ROOF OFF THE SUCKER</string>
	<string>JUNK FOOD JUNKIE</string>
	<string>TRYING TO GET THE FEELING AGAIN</string>
	<string>ROCK AND ROLL ALL NIGHT</string>
	<string>DISCO DUCK</string>
	<string>TAKE THE MONEY AND RUN</string>
	<string>SQUEEZEBOX</string>
	<string>COUNTRY BOY</string>
</array>
</plist>
