<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MY SHARONA</string>
	<string>BAD GIRLS</string>
	<string>LE FREAK</string>
	<string>DO 'YA THINK I'M SEXY</string>
	<string>REUNITED</string>
	<string>I WILL SURVIVE</string>
	<string>HOT STUFF</string>
	<string>Y.M.C.A.</string>
	<string>RING MY BELL</string>
	<string>SAD EYES</string>
	<string>TOO MUCH HEAVEN</string>
	<string>MACARTHUR PARK</string>
	<string>WHEN YOU'RE IN LOVE WITH A BEAUTIFUL WOMAN</string>
	<string>MAKIN' IT</string>
	<string>FIRE</string>
	<string>TRAGEDY</string>
	<string>A LITTLE MORE LOVE</string>
	<string>HEART OF GLASS</string>
	<string>WHAT A FOOL BELIEVES</string>
	<string>GOOD TIMES</string>
	<string>YOU DON'T BRING ME FLOWERS ANYMORE</string>
	<string>KNOCK ON WOOD</string>
	<string>STUMBLIN' IN</string>
	<string>LEAD ME ON</string>
	<string>SHAKE YOUR BODY</string>
	<string>DON'T CRY OUT LOUD</string>
	<string>THE LOGICAL SONG</string>
	<string>MY LIFE</string>
	<string>JUST WHEN I NEEDED YOU MOST</string>
	<string>YOU CAN'T CHANGE THAT</string>
	<string>SHAKE YOUR GROOVE THING</string>
	<string>I'LL NEVER LOVE THIS WAY AGAIN</string>
	<string>LOVE YOU INSIDE OUT</string>
	<string>I WANT YOU TO WANT ME</string>
	<string>FIGHT (THEME FROM "THE MAIN EVENT")</string>
	<string>MAMA CAN'T BUY YOU LOVE</string>
	<string>I WAS MADE FOR DANCING</string>
	<string>AFTER THE LOVE HAS GONE</string>
	<string>HEAVEN KNOWS</string>
	<string>THE GAMBLER</string>
	<string>LOTTA LOVE</string>
	<string>LADY</string>
	<string>HEAVEN MUST HAVE SENT YOU</string>
	<string>HOLD THE LINE</string>
	<string>HE'S THE GREATEST DANCER</string>
	<string>SHARING THE NIGHT TOGETHER</string>
	<string>SHE BELIEVES IN MY</string>
	<string>IN THE NAVY</string>
	<string>MUSIC BOX DANCER</string>
	<string>THE DEVIL WENT DOWN TO GEORGIA</string>
</array>
</plist>
