<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LOVE WILL KEEP US TOGETHER</string>
	<string>RHINESTONE COWBOY</string>
	<string>PHILADELPHIA FREEDOM</string>
	<string>BEFORE THE NEXT TEARDROP FALLS</string>
	<string>MY EYES ADORED YOU</string>
	<string>SOME KIND OF WONDERFUL</string>
	<string>SHINING STAR</string>
	<string>FAME</string>
	<string>LAUGHTER IN THE RAIN</string>
	<string>ONE OF THESE NIGHTS</string>
	<string>THANK GOD I'M A COUNTRY BOY</string>
	<string>JIVE TALKIN'</string>
	<string>BEST OF MY LOVE</string>
	<string>LOVING YOU</string>
	<string>KUNG-FU FIGHTING</string>
	<string>BLACK WATER</string>
	<string>BALL-ROOM BLITZ</string>
	<string>HEY, WON'T YOU PLAY, ANOTHER SOMEBODY DONE SOMEBODY WRONG SONG</string>
	<string>HE DON'T LOVE YOU LIKE I DO</string>
	<string>AT 17</string>
	<string>PICK UP THE PIECES</string>
	<string>THE HUSTLE</string>
	<string>LADY MARMALADE</string>
	<string>WHY CAN'T WE BE FRIENDS</string>
	<string>LOVE WON'T LET ME WAIT</string>
	<string>BOOGIE ON REGGIE WOMAN</string>
	<string>WASTED DAYS &amp; WASTED NIGHTS</string>
	<string>ANGIE BABY</string>
	<string>FIGHT THE POWER</string>
	<string>JACKIE BLUE</string>
	<string>FIRE</string>
	<string>MAGIC</string>
	<string>PLEASE MR. POSTMAN</string>
	<string>SISTER GOLDENHAIR</string>
	<string>LUCY IN THE SKY WITH DIAMONDS</string>
	<string>MANDY</string>
	<string>HAVE YOU NEVER BEEN MELLOW</string>
	<string>COULD IT BE MAGIC</string>
	<string>CAT'S IN THE CRADLE</string>
	<string>WILDFIRE</string>
	<string>I'M NOT LISA</string>
	<string>LISTEN TO WHAT THE MAN SAYS</string>
	<string>I'M NOT IN LOVE</string>
	<string>I CAN HELP</string>
	<string>FALLING IN LOVE</string>
	<string>FEELINGS</string>
	<string>WHEN WILL I BE LOVED</string>
	<string>CHEVY VAN</string>
	<string>YOU'RE THE FIRST, MY LAST, MY EVERYTHING</string>
	<string>PLEASE MR. PLEASE</string>
	<string>YOU'RE NO GOOD</string>
	<string>DYNOMITE</string>
	<string>WALKING IN RHYTHM</string>
	<string>TRY TO REMEMBER</string>
	<string>MIDNIGHT BLUE</string>
	<string>DON'T CALL US, WE'LL CALL YOU</string>
	<string>POETRY MAN</string>
	<string>HOW LONG</string>
	<string>EXPRESS</string>
	<string>THAT'S THE WAY OF THE WORLD</string>
	<string>LADY</string>
	<string>BAD TIME</string>
	<string>ONLY WOMEN</string>
	<string>DOCTOR'S ORDERS</string>
	<string>GET DOWN TONIGHT</string>
	<string>ONE MAN WOMAN, ONE WOMAN MAN</string>
	<string>YOU ARE SO BEAUTIFUL</string>
	<string>FEEL LIKE MAKIN' LOVE</string>
	<string>HOW SWEET IT IS TO BE LOVED BY YOU</string>
	<string>DANCE WITH ME</string>
	<string>CUT THE CAKE</string>
	<string>NEVER CAN SAY GOODBYE</string>
	<string>I DON'T LIKE TO SLEEP ALONE</string>
	<string>MORNING SIDE OF THE MOUNTAIN</string>
	<string>WHEN WILL I SEE YOU AGAIN</string>
	<string>GET DOWN GET DOWN</string>
	<string>I'M SORRY</string>
	<string>KILLER QUEEN</string>
	<string>SHOE-SHINE BOY</string>
	<string>DO IT</string>
	<string>CAN'T GET IT OUT OF MY HEAD</string>
	<string>SHA LA LA MAKES ME HAPPY</string>
	<string>LONELY PEOPLE</string>
	<string>YOU GOT THE LOVE</string>
	<string>THE ROCKFORD FILES</string>
	<string>IT ONLY TAKES A MINUTE</string>
	<string>THE NO-NO SONG</string>
	<string>JUNIOR'S FARM</string>
	<string>BUNGLE IN THE JUNGLE</string>
	<string>LONG TALL GLASSES</string>
	<string>MISTY</string>
	<string>SOMEONE SAVED MY LIFE TONIGHT</string>
	<string>BAD BLOOD</string>
	<string>ONLY YESTERDAY</string>
	<string>I'M ON FIRE</string>
	<string>ONLY YOU</string>
	<string>THIRD-RATE ROMANCE</string>
	<string>YOU AIN'T SEEN NOTHIN' YET</string>
	<string>GET DANCIN'</string>
</array>
</plist>
