<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>THE WAY WE WERE</string>
	<string>SEASONS IN THE SUN</string>
	<string>LOVE'S THEME</string>
	<string>COME AND GET YOUR LOVE</string>
	<string>DANCING MACHINE</string>
	<string>THE LOCO-MOTION</string>
	<string>T.S.O.P.</string>
	<string>THE STREAK</string>
	<string>BENNIE &amp; THE JETS</string>
	<string>ONE HELL OF A WOMAN</string>
	<string>UNTIL YOU COME BACK TO ME</string>
	<string>JUNGLE BOOGIE</string>
	<string>MIDNIGHT AT THE OASIS</string>
	<string>YOU MAKE ME FEEL BRAND NEW</string>
	<string>SHOW AND TELL</string>
	<string>SPIDERS AND SNAKES</string>
	<string>ROCK ON</string>
	<string>SUNSHINE ON MY SHOULDERS</string>
	<string>SIDESHOW</string>
	<string>HOOKED ON A FEELING</string>
	<string>BILLY DONâT BE A HERO</string>
	<string>BAND ON THE RUN</string>
	<string>THE MOST BEAUTIFUL GIRL</string>
	<string>TIME IN A BOTTLE</string>
	<string>ANNIE'S SONG</string>
	<string>(YOU'RE) HAVING MY BABY</string>
	<string>LET ME BE THERE</string>
	<string>SUNDOWN</string>
	<string>ROCK ME GENTLY</string>
	<string>BOOGIE DOWN</string>
	<string>YOUâRE SIXTEEN</string>
	<string>IF YOU LOVE ME (LET ME KNOW)</string>
	<string>DARK LADY</string>
	<string>BEST THING THAT EVER HAPPENED TO ME</string>
	<string>FEEL LIKE MAKIN' LOVE</string>
	<string>JUST DONâT WANT TO BE LONELY</string>
	<string>NOTHING FROM NOTHING</string>
	<string>ROCK YOUR BABY</string>
	<string>TOP OF THE WORLD</string>
	<string>THE JOKER</string>
	<string>IâVE GOT TO USE MY IMAGINATION</string>
	<string>THE SHOW MUST GO ON</string>
	<string>ROCK THE BOAT</string>
	<string>SMOKINâ IN THE BOYS ROOM</string>
	<string>LIVING FOR THE CITY</string>
	<string>THEN CAME YOU</string>
	<string>THE NIGHT CHICAGO DIED</string>
	<string>THE ENTERTAINER</string>
	<string>WATERLOO</string>
	<string>THE AIR THAT I BREATHE</string>
	<string>RIKKI DONâT LOSE THAT NUMBER</string>
	<string>MOCKINGBIRD</string>
	<string>HELP ME</string>
	<string>NEVER NEVER GONNA GIVE YA UP</string>
	<string>YOU WONâT SEE ME</string>
	<string>TELL ME SOMETHINâ GOOD</string>
	<string>YOU AND ME AGAINST THE WORLD</string>
	<string>ROCK &amp; ROLL HEAVEN</string>
	<string>HOLLYWOOD SWINGING</string>
	<string>BE THANKFUL FOR WHAT YOUâVE GOT</string>
	<string>HANG ON IN THERE BABY</string>
	<string>ERES TO (TOUCH THE WIND)</string>
	<string>TAKINâ CARE OF BUSINESS</string>
	<string>RADAR LOVE</string>
	<string>PLEASE COME TO BOSTON</string>
	<string>KEEP ON SMILINâ</string>
	<string>LOOKINâ FOR A LOVE</string>
	<string>PUT YOUR HANDS TOGETHER</string>
	<string>ON AND ON</string>
	<string>OH VERY YOUNG</string>
	<string>LEAVE ME ALONE (RUBY RED DRESS)</string>
	<string>YELLOW BRICK ROAD</string>
	<string>IâVE BEEN SEARCHINâ SO LONG</string>
	<string>OH MY MY</string>
	<string>FOR THE LOVE OF MONEY</string>
	<string>I SHOT THE SHERIFF</string>
	<string>JET</string>
	<string>DONâT LET THE SUN GO DOWN ON ME</string>
	<string>TUBLAR BELLS</string>
	<string>LOVE SONG</string>
	<string>IâM LEAVINâ IT ALL UP TO YOU</string>
	<string>HELLO, ITâS ME</string>
	<string>I LOVE</string>
	<string>CLAP FOR THE WOLFMAN</string>
	<string>THE LORDâS PRAYER</string>
	<string>IâLL HAVE TO SAY I LOVE YOU IN A SONG</string>
	<string>TRYINâ TO HOLD ONTO MY WOMAN</string>
	<string>DONâT YOU WORRY âBOUT A THING</string>
	<string>VERY SPECIAL LOVE SONG</string>
	<string>MY GIRL BILL</string>
	<string>HELEN WHEELS</string>
	<string>MY MISTAKE (WAS TO LOVE YOU)</string>
	<string>WILDWOOD WEED</string>
	<string>BEACH BABY</string>
	<string>ME AND BABY BROTHER</string>
	<string>ROCIN' ROLL BABY</string>
	<string>I HONESTLY LOVE YOU</string>
	<string>CALL ON ME</string>
	<string>WILD THING</string>
	<string>MIGHTY LOVE</string>
</array>
</plist>
