<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SHADOW DANCIN'</string>
	<string>NIGHT FEVER</string>
	<string>YOU LIGHT UP MY LIFE</string>
	<string>STAYIN' ALIVE</string>
	<string>KISS YOU ALL OVER</string>
	<string>HOW DEEP IS YOUR LOVE</string>
	<string>BABY COME BACK</string>
	<string>LOVE IS THICKER THEN WATER</string>
	<string>BOOGIE OOGIE OOGIE</string>
	<string>THREE TIMES A LADY</string>
	<string>GREASE</string>
	<string>I GO CRAZY</string>
	<string>YOU'RE THE ONE THAT I WANT</string>
	<string>EMOTION</string>
	<string>LAY DOWN SALLY</string>
	<string>MISS YOU</string>
	<string>JUST THE WAY YOU ARE</string>
	<string>WITH A LITTLE LUCK</string>
	<string>IF I CAN'T HAVE YOU</string>
	<string>DANCE DANCE DANCE</string>
	<string>FEELS SO GOOD</string>
	<string>HOT CHILD IN THE CITY</string>
	<string>LOVE IS LIKE OXYGEN</string>
	<string>IT'S A HEARTACHE</string>
	<string>WE ARE THE CHAMPIONS</string>
	<string>BAKER STREET</string>
	<string>CAN'T SMILE WITHOUT YOU</string>
	<string>TOO MUCH TOO LITTLE TOO LATE</string>
	<string>DANCE WITH ME</string>
	<string>TWO OUT OF THREE AIN'T BAD</string>
	<string>JACK &amp; JILL</string>
	<string>TAKE A CHANCE ON ME</string>
	<string>SOMETIMES WHEN WE TOUCH</string>
	<string>LAST DANCE</string>
	<string>HOPELESSLY DEVOTED TO YOU</string>
	<string>HOT BLOODED</string>
	<string>YOU'RE IN MY HEART</string>
	<string>THE CLOSER I GET TO YOU</string>
	<string>DUST IN THE WIND</string>
	<string>MAGNET &amp; STEEL</string>
	<string>SHORT PEOPLE</string>
	<string>USED TO BE MY GIRL</string>
	<string>OUR LOVE</string>
	<string>LOVE WILL FIND A WAY</string>
	<string>EVERLASTING LOVE</string>
	<string>LOVE IS IN THE AIR</string>
	<string>GOODBYE GIRL</string>
	<string>SLIP SLIDIN' AWAY</string>
	<string>THE GROOVE LINE</string>
	<string>THUNDER ISLAND</string>
	<string>IMAGINARY LOVER</string>
	<string>STILL THE SAME</string>
	<string>MY ANGEL BABY</string>
	<string>DISCO INFERNO</string>
	<string>ON BROADWAY</string>
	<string>SAIL AWAY</string>
	<string>BACK IN LOVE AGAIN</string>
	<string>THIS TIME I'M IN IT FOR LOVE</string>
	<string>YOU BELONG TO ME</string>
	<string>HERE YOU COME AGAIN</string>
	<string>BLUE BAJOU</string>
	<string>PEG</string>
	<string>YOU NEEDED ME</string>
	<string>SHAME</string>
	<string>REMINISING</string>
	<string>COUNT ON ME</string>
	<string>BABY HOLD ON</string>
	<string>HEY DENI</string>
	<string>SUMMER NIGHTS</string>
	<string>WHAT'S YOUR NAME</string>
	<string>DON'T IT MAKE YOUR BROWN EYES BLUE</string>
	<string>BECAUSE THE NIGHT</string>
	<string>EVERY KIND OF PEOPLE</string>
	<string>COPACABANA</string>
	<string>ALWAYS &amp; FOREVER</string>
	<string>YOU &amp; I</string>
	<string>SERPENTINE FIRE</string>
	<string>SENTIMENTAL LADY</string>
	<string>FALLING</string>
	<string>DON'T LET ME BE MISUNDERSTOOD</string>
	<string>BLUER THEN BLUE</string>
	<string>RUNNIN' ON EMPTY</string>
	<string>WHENEVER I CALL YOU FRIEND</string>
	<string>FOOL IF YOU THINK IT'S OVER</string>
	<string>GET OFF</string>
	<string>SWET TALKIN' WOMAN</string>
	<string>LIFE'S BEEN GOOD</string>
	<string>I LOVE THE NIGHTLIFE</string>
	<string>YOU CAN'T TURN ME OFF</string>
	<string>IT'S SO EASY</string>
	<string>NATIVE NEW YORKER</string>
	<string>FLASHLIGHT</string>
	<string>DON'T LOOK BACK</string>
	<string>TURN TO STONE</string>
	<string>I CAN'T STAND THE RAIN</string>
	<string>EBONY EYES</string>
	<string>NAME OF THE GAME</string>
	<string>WE'RE ALL ALONE</string>
	<string>HOLLYWOOD NIGHTS</string>
	<string>DEACON BLUES</string>
</array>
</plist>
