<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> JOY TO THE WORLD</string>
	<string> MAGGIE MAY</string>
	<string> IT'S TOO LATE</string>
	<string> ONE BAD APPLE</string>
	<string> HOW CAN YOU MEND A BROKEN HEART</string>
	<string> INDIAN RESERVATION</string>
	<string> GO AWAY LITTLE GIRL</string>
	<string> TAKE ME HOME, COUNTRY ROADS</string>
	<string> JUST MY IMAGINATION (RUNNIN' AWAY WITH ME)</string>
	<string> KNOCK THREE TIMES</string>
	<string> ME &amp; BOBBY McGHEE</string>
	<string> TIRED OF BEING ALONE</string>
	<string> WANT-ADS</string>
	<string> SMILING FACES</string>
	<string> TREAT HER LIKE A LADY</string>
	<string> BROWN SUGAR</string>
	<string> YOU'VE GOT A FRIEND</string>
	<string> MR. BIG STUFF</string>
	<string> DO YOU KNOW WHAT I MEAN</string>
	<string> THE NIGHT THEY DROVE OLD DIXIE DOWN</string>
	<string> WHAT'S GOIN' ON</string>
	<string> UNCLE ALBERT &amp; ADMIRAL HALSEY</string>
	<string> AIN'T NO SUNSHINE</string>
	<string> SIGNS</string>
	<string> SHE'S A LADY</string>
	<string> I'VE FOUND SOMEONE OF MY OWN</string>
	<string> JESUS CHRIST SUPERSTAR</string>
	<string> AMOS MOSES</string>
	<string> TEMPTATION EYES</string>
	<string> SUPERSTAR</string>
	<string> MY SWEET LORD</string>
	<string> SWEET &amp; INNOCENT</string>
	<string> PUT YOUR HAND IN THE HAND</string>
	<string> CHICK A BOOM</string>
	<string> FOR ALL ME KNOW</string>
	<string> IF YOU COULD READ MY MIND</string>
	<string> HELP ME MAKE IT THROUGH THE NIGHT</string>
	<string> RAINY DAYS &amp; MONDAYS</string>
	<string> GYPSY'S TRAMPS &amp; THIEVES</string>
	<string> NEVER CAN SAY GOODBYE</string>
</array>
</plist>
